.bar{
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
}

.btn{
  display: inline-block;
  border: 1px solid #000;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  max-width: 1170px;
  height: 80vh;
  background-color: #DDDDDD;
  display: flex;
  font-size: 26px;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.container > div{
  width: 18%;
  border: 1px solid #000;
  text-align: center;
}
